.vscode/
*.pyc
*__pycache__/*
__pycache__
*.jpynb
*.ipynb
jpynb/
config.*
*config.*
*config.json
*.DS_Store
.DS_Store
fdia2.py
fdia3.py
get_otp_token.py
_build/
.coverage
coverage.xml
htmlcov/
licenses.sh
blink_config.json
jpynb/*
.idea/*
venv/*
.python-version
_build/*
_sources/*