[Unit]
Description=Front Door Intercom Automation
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/front_door_intercom_automation/fdia.py

[Install]
WantedBy=multi-user.target
