pyyaml==6.0.1
gpiozero==2.0
RPi.GPIO==0.7.1
urllib3==2.1.0
requests==2.31.0
blinkpy==0.23.0b8
# passlib==1.7.4

astral==3.2
Flask==3.0.3
Flask_HTTPAuth==4.8.0
Flask_Session==0.8.0
Werkzeug==3.0.3
astral==3.2
pyotp==2.9.0
pyTelegramBotAPI==4.20.0

asyncio==3.4.3
aiohttp==4.0.0a1

pytest==8.2.2
mock==5.1.0

future-annotations==1.0.0
