pyyaml==6.0.2
RPi.GPIO==0.7.1
urllib3==2.2.2
requests==2.32.3
blinkpy==0.23.0
astral==3.2
Flask==3.0.3
Flask_HTTPAuth==4.8.0
Flask_Session==0.8.0
Werkzeug==3.0.3
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
astral==3.2
pyotp==2.9.0
pyTelegramBotAPI==4.22.1

asyncio==3.4.3
aiohttp==3.10.1

myst-parser==3.0.1
recommonmark==0.7.1
# sphinx==8.0.2
sphinx==7.4.7
sphinx-rtd-theme==2.0.0
ghp-import==2.1.0

pytest==8.3.2
pytest-cov==5.0.0
mock==5.1.0
# coverage==7.60

future-annotations==1.0.0
